<!DOCTYPE html>
<html>
<head>
    <title>Move History</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="navbar">

    <div class="nav-links">
        <a href="index.html">Dashboard</a>
        <a href="#">Operations</a>
        <a href="#">Products</a>
        <a href="movehistory.html">Move History</a>
        <a href="#">Settings</a>
    </div>

    <div class="title">
        Core Inventory
    </div>

</div>


<div class="container">

    <h2>Move History</h2>

    <button class="btn">New</button>

    <table>

        <tr>
            <th>Reference</th>
            <th>Date</th>
            <th>Contact</th>
            <th>From</th>
            <th>To</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>

        <tr>
            <td>WH/IN/0001</td>
            <td>12/1/2001</td>
            <td>Azure Interior</td>
            <td>Vendor</td>
            <td>WH/Stock1</td>
            <td>10</td>
            <td class="status">Ready</td>
        </tr>

        <tr>
            <td>WH/OUT/0002</td>
            <td>12/1/2001</td>
            <td>Azure Interior</td>
            <td>WH/Stock1</td>
            <td>Vendor</td>
            <td>6</td>
            <td class="status">Ready</td>
        </tr>

        <tr>
            <td>WH/OUT/0003</td>
            <td>12/1/2001</td>
            <td>Azure Interior</td>
            <td>WH/Stock2</td>
            <td>Vendor</td>
            <td>8</td>
            <td class="status">Ready</td>
        </tr>

    </table>

</div>

</body>
</html>